<footer class="f-info">
    <div class="f-i-social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <div>&copy;wanderLust Private Limited</div>
    <div class="f-i-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</footer>