<%layout("/layout/boilerplate")%>
<body>
  <h2>New Listing</h2>
  <br />
  <div class="row">
    <div class="col-8 offset-2">
      <form method="POST" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input
            name="listing[title]"
            id="title"
            placeholder="Enter title"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid data</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea
            name="listing[description]"
            id="description"
            placeholder="Enter description"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter valid data</div>
        </div>

     
      
        <div class="mb-3">
          <label for="url" class="form-label">Upload Image:</label>
          <input
            name="listing[image]"
            id="url"
            type="file"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid data</div>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price:</label>
          <input
            name="listing[price]"
            id="price"
            placeholder="Enter price"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid data</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="location" class="form-label">Location:</label>
            <input
              name="listing[location]"
              id="location"
              placeholder="Enter location"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter valid data</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country:</label>
            <input
              name="listing[country]"
              id="country"
              placeholder="Enter country"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter valid data</div>
          </div>
        </div>

        <br /><br /><br />
        <button class="btn btn-dark b1">Add</button><br /><br />
      </form>
    </div>
  </div>
</body>
